body {
    padding: 10px;
    background: #f1f1f1;
  }

ul {
    list-style-type: none;
    font-family: 'VT323', monospace;
    overflow: hidden;
    background-color: rgb(255, 0, 0);
  }
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.col-6 {width: 20%;}
.col-9 {width: 60%;}



@media only screen and (max-width: 1016px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

@media all and (max-width: 784px){
    section{
        color: red;
    }
}

.aside {
  padding: 15px;
  margin : 5px;
  margin-top: 18px;
  color: black;
  text-align: center;
  font-size: 14px;
  font-family: Roboto,sans-serif;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}
  
li a:hover {
    background-color: #ff00d4;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 19px;
  text-align: center;
}

.flex-item-left {
  background-color: #f1f1f1;
  padding: 10px;
  flex: 25%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}

.flex-item-right {
  background-color: #f1f1f1;
  padding: 10px;
  flex: 25%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}

@media (max-width: 600px) {
  .flex-item-right, .flex-item-left {
    flex: 100%;
  }
}


.round-box {
    border: 15px solid  rgb(3, 252, 36);
    padding: 50px;
    margin: 20px;
    background-color:  rgb(250, 134, 25);;
    animation-name: warna;
  animation-duration: 30s;
  }

@keyframes warna {
    0% {background-color: rgb(0, 255, 234);}
    10% {background-color: rgb(250, 235, 25);}
    20% {background-color: rgb(0, 255, 234);}
    30% {background-color: rgb(250, 235, 25);}
    40% {background-color: rgb(0, 255, 234);}
    50% {background-color: rgb(250, 235, 25);}
    60% {background-color: rgb(0, 255, 234);}
    70% {background-color: rgb(250, 235, 25);}
    80% {background-color: rgb(0, 255, 234);}
    90% {background-color: rgb(250, 235, 25);}
    100% {background-color: rgb(0, 255, 234);}
  }

.shadow{
    text-shadow: 2px 2px 5px rgb(252, 34, 205);
}

.round-box{
	"css font google"
}

.footer{
	padding: 10px;
	text-align: center;
	background: rgb(255, 0, 0);
	margin-top: 20px;
	color: white;
}